<div class="h-full px-4 py-4 text-white bg-gray-700">
  <div class="flex items-center justify-between">
    <%= link_to "Home", root_path, class: 'ml-4' %>
    <i class="mr-2 fa-solid fa-bars"></i>
  </div>
  <ul class="my-4">
    <li class="my-2">
      <i class="mr-2 fa-solid fa-house"></i>
      首頁
    </li>
    <li class="my-2">
      <i class="mr-2 fa-solid fa-circle-check"></i>
      我的任務
    </li>
    <li class="my-2">
      <i class="mr-2 fa-solid fa-envelope"></i>
      收件匣
    </li>
    <li class="my-2">
      <i class="mr-2 fa-solid fa-file-chart-column"></i>
      報告
    </li>
    <li class="my-2">
      <i class="mr-2 fa-solid fa-rectangle-history-circle-user"></i>
      專案集
    </li>
    <li class="my-2">
      <i class="mr-2 fa-sharp fa-solid fa-bullseye"></i>
      目標
    </li>
  </ul>
  <div class="pt-2 mt-2 mb-32 border-t border-gray-500">
    團隊
    <ul>
      <li class="my-2">團隊成員</li>
      <li class="my-2">團隊專案</li>
    </ul>
  </div>
  <div class="pt-2 my-2 border-t border-gray-500">
    邀請隊友
  </div>
  <div class="pt-2 border-t border-gray-500">說明與開始使用</div>
</div>